.h-wrapper {
  z-index: 99;
  position: sticky;
  top: 0;
}
.h-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--secondary);
  justify-content: space-between;
}

.h-menu {
  gap: 2rem;
}
.h-menu > *:hover {
  cursor: pointer;
}
.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  .h-menu {
    color: var(--black);
    position: absolute;
    gap: 2rem;
    font-weight: 500;
    flex-direction: column;
    right: 4rem;
    top: 3rem;
    background: white;
    display: flex;
    border-radius: 10px;
    transition: all 200ms ease;
    align-items: flex-start;
    padding: 3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  }
}
.special-font {
  font-style: italic;
  font-size: 2rem; /* Adjust the size as needed */
  font-weight: bold;
  color: var(--primary-color); /* Use a primary color for the logo */
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: var(--secondary-color); /* Optional: Add a background color */
}

@media (max-width: 768px) {
  .special-font {
    font-size: 1.5rem; /* Adjust the size for smaller screens */
    padding: 0.3rem 0.8rem;
  }
}